node_modules
.DS_Store
lib
dist-ssr
*.local
/packages/semi-foundation/
/packages/semi-animation/
/coverage/
coverage/
.idea
*.log
/.npmrc
/storybook-static/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/docs/src/public/semi-ui-vue.js
/docs/src/public/style.css
/docs/src/public/semi/
/docs/.vitepress/semi-design-vue/
/docs/.vitepress/out/
/packages/vite-plugin-semi-theme/dist/
/docs/src/public/semiIcons/favicon.ico
/docs/src/public/semiIcons/
/qodana.yaml
